body {
    background-color: rgba(66, 66, 66, 0.897);
}

.Game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status {
    font-size: 24px;
    color: #eeeeee;
    margin-top: 3em;
    width: 100%;
    height: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status img {
    width: 1.5em;
    height: auto;
    margin-left: 10px;
}