.square {
    width: 46px;
    height: 46px;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    /* outline: red solid 1px; */
}

.square .chess {
    width: 100%;
    height: 100%;
    z-index: 1;
    
}

.square .atkPrd {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
}