.Board {
    width: 414px;
    height: 460px;
    padding: 0%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    background-image: url("./board.png");
    background-size: 100%;
}

.row {
    width: 414px;
    height: 46px;
    display: flex;
    flex-direction: row;
}